body {
  background: url('~public/img/back.png');
  color: white;
}

.panel-info {
  border-color: #696969;
}

.panel-info > .panel-heading {
  color: #eaeaea;
  background-color: #333333;
  border-color: #696969;
}

.navbar-nav li {
 font-size: 130%;
 line-height: 50px;
 padding-left: 10px;
}
